/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #dddada;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Título */
h1 {
    text-align: center;
    color: #ebdcb4;
    font-size: 2.8em;
    margin: 30px 0;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Contenedor del carrusel */
.carousel-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    background-color: #333;
    text-align: center;
}

/* Card del carrusel */
.carousel-card {
    background: #2d2d2d;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.carousel-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}

/* Información dentro de la tarjeta */
.card-info {
    padding: 20px;
    color: #e6e6e6;
    background-color: #1e1e1e;
    border-radius: 0 0 12px 12px;
}

.card-info h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: bold;
    color: rgba(230, 183, 56, 0.719);
}

.card-info p {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #e6e6e6;
}

/* Botones de navegación */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 15px;
    font-size: 2.5em;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

button:hover {
    font-size: 3em;
    color: rgb(223, 206, 114);
}

#prev {
    left: 15px;
}

#next {
    right: 15px;
}
